:root{
    --red:#007c57;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .3s cubic-bezier(.16,.8,.62,1.52);
    text-transform: capitalize;
}

*::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background: #000;
}

html::-webkit-scrollbar-thumb{
    background: var(--red);
}

body{
    background:#ffffff;
}

section{
    min-height: 100vh;
    padding:0 7%;
    padding-top: 9rem;
}

.heading{
    text-align: center;
    color:var(--red);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding:1rem;
}

header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    padding:2rem;
}

header .logo{
    font-size: 2.5rem;
    color:var(--red);
}

header .logo span{
    color:var(--red);
}

header .navbar a{
    font-size: 1.7rem;
    margin-left: .7rem;
    padding:.5rem 2rem;
    border-radius: .5rem;
    color:var(--red);
}

header .navbar a.active,
header .navbar a:hover{
    background: var(--red);
    color:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header.sticky{
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

#menu{
    font-size: 3rem;
    color:var(--red);
    cursor: pointer;
    display: none;
}



.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:1rem 4rem;
    border-radius: 5rem;
    background:var(--red);
    color:#fff;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1.7rem;
}

.btn::before{
    content:'';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background:#444;
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    transition:.3s linear;
}

.btn:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .image{
    flex:1 1 40rem;
}

.home .image img{
    width:100%;
}

.home .content{
    flex:1 1 40rem;
}

.home .content span{
    color:var(--red);
    font-size: 2.5rem;
}

.home .content h3{
    color:#007c57;
    font-size: 5rem;
}

.home .content h2{
    color:#666;
    font-size: 5rem;
}

.home .content p{
    color:#999;
    font-size: 2rem;
    padding:1rem 0;
}

.protect{
    background-color: rgb(255, 255, 255);
}

.protect .heading{
    text-align: center;
    padding:1rem;
}

.protect .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.protect .box-container .box{
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding:2rem;
    margin:2rem;
    width:34rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    text-align: center;
}

.protect .box-container .box img{
    height: 17rem;
    width:17rem;
}

.protect .box-container .box h3{
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
}

.protect .box-container .box p{
    font-size: 1.4rem;
    color:rgb(255, 255, 255);
    padding:.5rem;
}

.protect .box-container .box:hover{
    transform:translateY(-1rem);
}


.prevent .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.prevent .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    margin:1rem;
    padding:1rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.prevent .box-container .box img{
    height:12rem;
    padding:1rem;
}

.prevent .box-container .box h3{
    color:var(--red);
    font-size: 2rem;
}

.prevent .box-container .box p{
    color:var(--red);
    font-size: 1.4rem;
    padding:1rem;
}

.prevent .box-container .box:hover{
    box-shadow: 0 .5rem 1rem rgb(33, 100, 74);
}

.symptoms{
    
    background-color: #007c57;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.symptoms .column{
    display: flex;
    align-items: center;
    justify-content: center;
}

.symptoms .column .main-image img{
    width: 43vh;
}

.symptoms .column .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.symptoms .column .box-container .box{
    margin:1rem;
    text-align: center;
}

.symptoms .column .box-container .box img{
    width:20rem;
    padding:1rem;
}

.symptoms .column .box-container .box h3{
    font-size: 2rem;
    color:var(--blue);
}

.heading010{
    text-align: center;
    color:#ffffff;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    padding:1rem;
}


.home6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background:url(background-img.jpg) no-repeat;
}

.home6 .image{
    flex:1 1 40rem;
}

.home6 .image img{
    width:100%;
    height: 600px;
}

.home6 .content{
    flex:1 1 40rem;
}

.home6 .content span{
    color:var(--red);
    font-size: 2.5rem;
}

.home6 .content h3{
    color:#666;
    font-size: 5rem;
}

.home6 .content p{
    color:#999;
    font-size: 2rem;
    padding:1rem 0;
}


.doctor{
    background:url(background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.doctor .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.doctor .box-container .box{
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:1rem;
    margin:1.5rem;
    text-align: center;
    background:#fff;
    border:.1rem solid rgba(0,0,0,.1);
    width:33rem;
}

.doctor .box-container .box img{
    margin:1rem;
    border-radius: 50%;
    height:20rem;
    width:20rem;
    object-fit: cover;
    background:var(--red);
}

.doctor .box-container .box h3{
    font-size: 2rem;
    color:var(--red);
}

.doctor .box-container .box span{
    font-size: 1.5rem;
    color:var(--red);
}

.doctor .box-container .box .share{
    border-top: .1rem solid rgba(0,0,0,.1);
    padding:1rem;
    margin-top: 1rem;
}

.doctor .box-container .box .share a{
    border-radius: 50%;
    height: 4.5rem;
    width:4.5rem;
    line-height: 4.5rem;
    font-size: 2rem;
    margin: .4rem;
    background:#eee;
    color:var(--red);
}

.doctor .box-container .box .share a:hover{
    background:var(--red);
    color:#fff;
    transform: rotate(360deg);
}

.scroll-top{
    position: fixed;
    bottom:7.5rem; right:1.5rem;
    z-index: 1000;
}

.scroll-top img{
    width:8rem;
    animation: float 3s linear infinite;
}

@keyframes float{
    100%, 0%{
        transform: translateY(0rem);
    }

    50%{
        transform: translateY(-3rem);
    }

}

.footer{
    background-color: #007c57;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: #fff;
    padding:1rem 0;
}

.footer .box-container .box p{
    font-size: 1.75rem;
    color: #fff;
    padding:.5rem 0;
}

.footer .box-container .box a{
    font-size: 1.5rem;
    color: #fff;
    padding:.5rem 0;
    display: block;
}

.footer a:hover{
    text-decoration: underline;
}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    padding:2.5rem 1rem;
    color: #fff;
}

.footer .credit a{
    color: #fff;
}


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#007c57);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent,#00583e);
    border-radius: 6px;
}